<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Healthy Heads</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/professional.js"></script>
    <script type="text/javascript" src="/assets/js/signup.js"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue lighten-2">
                <div class="container-nav">
                    <img src="/assets/img/head1.png" id="logo">
                    <a href="/" class="brand-logo">Healthy Heads</a>
                    <ul class="right">
                        <li id="logout">
                            <a href="/logout">Log out</a>
                        </li>
                        <li>
                            <a href="https://github.com/tmd913/project2" target="_blank">Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <br> {{{ body }}}
</body>

</html>