<div class="navbar-fixed" id="navBar">
    <nav>
        <div class="nav-wrapper blue lighten-2" id="navnav">
            <div class="container-nav">
      <img src="/assets/img/head1.png" id="logo">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="https://github.com/tmd913/project2" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <div id="search-container">
        <div class="row">
            <h1 id="search-header">Search</h1>

            {{> search-form}}

        </div>
    </div>

    <div id="results-container">
        <h1 id="results-header">Results</h1>

        <ul id="results-list">
            {{#each professionals}} {{> professionals/professional-block}} {{/each}}
        </ul>
    </div>
</div>