<div class="container">
    <div id="search-container">
        <div class="row">
            <h1 id="search-header">Search</h1>

            {{> search-form}}

        </div>
    </div>

    <div id="results-container">
        <h1 id="results-header">Results</h1>

        <ul id="results-list" class="collapsible">
            {{#each professionals}} {{> professionals/professional-block}} {{/each}}
        </ul>
        {{!-- <ul id="reviews-list">
            {{#each reviews}} {{> review-block}} {{/each}}
        </ul> --}}
    </div>
</div>