  <header>
  <nav>
    <div class="nav-wrapper teal lighten-2" id="navTop">
      <img src="/assets/img/head1.png" id="logo">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://github.com/tmd913/project2"><img src="/assets/img/GitHub_Logo_White.png" id="githubLogo"></a></li>
      </ul>
    </div>
  </nav>
</header>


    <div class="container" id="formContainer">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="">
                <h2>Sign Up Form</h2>

                <form class="profSignup">
                    <div class="input-field">
                        <label for="signup-email">Login Email</label>
                        <input type="email" class="validate email-input" name="signup-email">
                    </div>
                    <div class="input-field">
                        <label for="signup-password">Login Password</label>
                        <input type="password" class="validate password-input" name="signup-password">
                    </div>

                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <span class="msg"></span>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn">Sign Up</button>
                </form>
                <a href="/api/prof/login">Or log in here</a>

                <br />
                <br/>
                <p>
                    <a href="/api/prof/login">Or log in here</a>
                </p>
            </div>
        </div>
    
    </div>
    {{!-- end container --}}