/* start global */
body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/dust_scratches.png");
}

h1 {
    font-size: 40px;
    color: #2196f3;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

.collapsible-body {
    padding-bottom: 0;
    border: none;
}

.collapsible-body > ul > li > h2 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}

.collapsible-body > ul > li > p {
    margin: 0;
}

.collapsible-body > ul > li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

button {
    font-family: 'Raleway', sans-serif;
}

#githubLogo {
    width: 50px;
}

#logo {
    height: 60px;
    margin-left: 0;
    margin-top: 2px;
}

#navnav {
    height: 100px;
    margin-bottom: 50px;
    background-color: #2196f3;
}

.container-nav {
    margin: 0 20px;
}

.row {
    margin: 0;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field textarea:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #2196f3!important;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field textarea:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #2196f3!important;
    box-shadow: 0 1px 0 0 #2196f3!important;
}

.splashLogo {
    height: 400px;
    display: block;
}

#splashText {
    padding-left: 10px;
}
/* end global */


/* start sign up login */
#formContainer {
    margin-top: 0px;
}

/* end sign up login*/


#prof-search {
    width: 100%;
    margin-top: 0;
}



#results-header {
    margin-top: 30px;
    margin-bottom: 0;
}



.input-field > label {
    color: rgba(0,0,0,0.87)!important;
}



.name-title, .specialties, .gender, .years, .languages, .insurance {
    margin: 0!important;
}

.practice-info > p {
    margin: 0;
    font-weight: 400;
    font-size: 14.5px;
}

.practice-info {
    font-weight: 500;
    font-size: 18px;
}

.city, .state, .zip {
    display: inline-block;
    margin: 0!important;
}

.street {
    margin-top: 10px!important;
}

.result-item {
    margin: 10px 0;
    padding: 20px 10px;
    background-color: #e3f2fd;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.prof-pic {
    margin-top: 8px;
    border-radius: 5px;
}





.dropdown-content li > span {
    color: #2196f3!important;
}

.name-title {
    font-size: 22px;
}

#clear {
    margin-top: 20px;
}
/* end search form */

.collapsible {
    background: none;
    border: none;
    box-shadow: none;
}

.collapsible-header {
    background: none;
    display: inline-block;
    padding: 0;
    border-bottom: none;
}

#review-row {
    border-bottom: 1px solid #ddd;
    margin-left: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
}

#reviews {
    font-size: 14.5px;
}

#main-info {
    padding-left: 0;
}

.display-none {
    display: none;
}

#submit-review {
    margin-bottom: 20px;
}

#reviews-ul {
    margin-top: 20px;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

