html, body {
    margin: 0 auto;
    height: 100%;
    background-color: white;
    position: relative;
}

h2 {
    margin-top: 25px;
    margin-bottom: 0;
}

h4 {
    margin: 0;
}

p{
    font-family: "Avenir Next";
}

#subheader {
    margin: 0;
}

img {
    width: 300px;
    border-radius: 5px;
}

.zoom {
    transition: transform .2s;
    /* width: 300px; */
    height: 300px;
    margin: 0 auto;
    opacity: 0.85;
    /* color: #22629a; */
}

.zoom:hover {
    transform: scale(1.02); 
    opacity: 0.85;
    color: #22629a;
}

.btn-zoom {
    transition: transform .2s;
    /* width: 300px; */
    height: 300px;
    margin: 0 auto;
    opacity: 0.85;
    /* color: #22629a; */
}

.btn-zoom:hover {
    transform: scale(1.02); 
    opacity: 0.85;
    color: #22629a;
}

.popup-overlay {
    visibility:hidden;
    }
    
    .popup-content {
    visibility:hidden;
    }
/* -------------------------------- */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* ------------------------------- */
/* mobile first */
* {
    box-sizing: border-box;
}
[class*="col-"] {
    width: 100%;
}

@media screen {
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    /* background-color: white; */
    justify-items: stretch;
    /* force sticky footer */
    min-height: 100vh;
    /* color: white; */
    font-family: 'Avenir Next';
}

.header {
    background-image: linear-gradient(#2747ae, white);
    grid-column: span 12;
    text-align: center;
    font-size: 40px;
    color: black;
    height: 225px;
}

.body {
    grid-column: 2/12;
    text-align: center;
}

.projectContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    
}

#irenePhoto {
    grid-column: 2/4;
    grid-row: 3/4;
    border-radius: 50%;
    width: 200px;
    padding-top: 15px;
}

.bio {
    grid-column: 4/12;
    grid-row: 3/4;
}


}
/* end media screen */